.flows.json.backup
[
    {
        "id": "07021e24ebc3f637",
        "type": "tab",
        "label": "Api Gateway",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c137f9ae9b5be96b",
        "type": "tab",
        "label": "Create Resources",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "58697012b7039513",
        "type": "tab",
        "label": "Delete all rules",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7e59738d989d54b6",
        "type": "subflow",
        "name": "Create Table Rules",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "75c09e600c694c46"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 620,
                "y": 1220,
                "wires": [
                    {
                        "id": "3771017c6ff47a5f",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "1314f78d13357201",
        "type": "subflow",
        "name": "Create Table Projects",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 100,
                "y": 80,
                "wires": [
                    {
                        "id": "705577d5392af509"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 280,
                "y": 640,
                "wires": [
                    {
                        "id": "3b650ecdc2dca7b9",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "082636f279771408",
        "type": "subflow",
        "name": "Create example Table",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 180,
                "y": 60,
                "wires": [
                    {
                        "id": "7cb40c28e0b111e0"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 400,
                "y": 540,
                "wires": [
                    {
                        "id": "b2cabb3468966bd4",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "1e9e2287cf2edeca",
        "type": "subflow",
        "name": "Create Pets API Project",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 180,
                "y": 80,
                "wires": [
                    {
                        "id": "0c53c7b50aca5332"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 740,
                "y": 400,
                "wires": [
                    {
                        "id": "2a4ec9dded10b9d4",
                        "port": 0
                    },
                    {
                        "id": "7b182218fd39e611",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "8e844c7077bbffbc",
        "type": "subflow",
        "name": "Create rule",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 80,
                "wires": [
                    {
                        "id": "095d62752d790492"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 660,
                "y": 440,
                "wires": [
                    {
                        "id": "95bdadead4830db0",
                        "port": 0
                    },
                    {
                        "id": "f2b4861b8dc9f002",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "c456eb608cd0ccef",
        "type": "subflow",
        "name": "Create Pets Rules",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 100,
                "y": 60,
                "wires": [
                    {
                        "id": "84fc8b6b614a2c10"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 740,
                "y": 840,
                "wires": [
                    {
                        "id": "04e1268133c93c71",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "5846b8283270afd9",
        "type": "subflow",
        "name": "Load Rules",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "27e010777d86ff75"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 480,
                "y": 800,
                "wires": [
                    {
                        "id": "9e2b6dbc63696918",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "21bb71fafaf0d583",
        "type": "subflow",
        "name": "old API Gateway",
        "info": "Before use API Gateway, first configure the rules sending a msg.payload with a JSON like this:\n\n{\n    \"GET\": {\n        \"/pets/\": {\n            \"actionId\": \"read all pets\"\n        },\n        \"/pets/:petId\": {\n            \"actionId\": \"read pet\"\n        }\n    },\n    \"POST\": {\n        \"/pets/\": {\n            \"actionId\": \"create pet\"\n        },\n        \"/pets/:petId\": {\n            \"actionId\": \"update pet\"\n        }\n    },\n    \"DELETE\": {\n        \"/pets/:petId\": {\n            \"actionId\": \"delete pet\"\n        }\n    }\n}\n\nThe output msg.req contains an autana object like this:\n\nmsg.req.autana:\n{\n    \"method\": \"POST\",\n    \"route\": \"/pets/:petId\",\n    \"url\": \"/pets/123\",\n    \"pathParams\": {\n        \"petId\": \"123\"\n    },\n    \"queryParams\": {},\n    \"action\": {\n        \"actionId\": \"update pet\"\n    }\n}\n\nThen You can take an action filtering by msg.req.autana.action.actionId\n\nYou can add more information to the action when configuring, if you wish.\n\nExample:\n\n{\n    \"GET\": {\n        \"/pets/\": {\n            \"actionId\": \"read all pets\",\n            \"anActionField\": \"foo\",\n            \"anotherActionField: \"bar\"\n        },\n        \"/pets/:petId\": {\n            \"actionId\": \"read pet\"\n        }\n    }\n}",
        "category": "network",
        "in": [
            {
                "x": 220,
                "y": 1920,
                "wires": [
                    {
                        "id": "0edd344a21511892"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 410,
                "y": 1320,
                "wires": [
                    {
                        "id": "ce80cd4f1eee9dc8",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {
            "module": "autana-api-gateway",
            "type": "com.autanalabs.apiGateway",
            "version": "1.0.0",
            "author": "GiBi <gb@autanalabs.com>",
            "desc": "Rest API Gateway based on JSON rules",
            "keywords": "node-red, autana, rest, api, apigateway, http",
            "license": "Apache-2.0"
        },
        "color": "#D7D7A0",
        "inputLabels": [
            "configuration rules"
        ],
        "outputLabels": [
            "api-gateway http request"
        ],
        "icon": "font-awesome/fa-globe"
    },
    {
        "id": "98574241950962f8",
        "type": "subflow",
        "name": "copy Body",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 200,
                "y": 140,
                "wires": [
                    {
                        "id": "37217bb40323f06e"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 520,
                "y": 140,
                "wires": [
                    {
                        "id": "37217bb40323f06e",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "69b3865e779a9ae0",
        "type": "subflow",
        "name": "inboundTransform",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 140,
                "y": 120,
                "wires": [
                    {
                        "id": "7d6a8354b237ee95"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 630,
                "y": 300,
                "wires": [
                    {
                        "id": "ba4f6e3aed2f1ef5",
                        "port": 0
                    }
                ]
            },
            {
                "x": 660,
                "y": 180,
                "wires": [
                    {
                        "id": "7d6a8354b237ee95",
                        "port": 1
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99",
        "outputLabels": [
            "transformed",
            "no-transformed"
        ]
    },
    {
        "id": "4aa39d5e7b7da9d4",
        "type": "subflow",
        "name": "outboundTransform",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 260,
                "y": 100,
                "wires": [
                    {
                        "id": "40f3b2df168dfc38"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 790,
                "y": 260,
                "wires": [
                    {
                        "id": "99c3744431f58262",
                        "port": 0
                    }
                ]
            },
            {
                "x": 800,
                "y": 140,
                "wires": [
                    {
                        "id": "40f3b2df168dfc38",
                        "port": 1
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99",
        "outputLabels": [
            "transformed",
            "no transformed"
        ]
    },
    {
        "id": "8b9887394539e844",
        "type": "appwrite-config",
        "endpoint": "https://cloud.appwrite.io/v1",
        "project": "api-gateway",
        "apikey": "7af2626e01797a2f1598c3eeff7b1f24c7b12fb6a03f485ca8f94dfa193e80cb1063d09dec892023d3270d157f8cca092d4b04618c9a3384ec5cbc9695aec458bf40d272b1bb4e3eaf6507ef338d6e9501a06ec5077855e70c0685cb6de77aca260e29b4b89c96d686fba6a55ac68a1d219b9dc1144a21d754bddfaec9906b8d"
    },
    {
        "id": "25e3266b912fbed8",
        "type": "appwrite-config",
        "z": "082636f279771408",
        "endpoint": "https://cloud.appwrite.io/v1",
        "project": "pets",
        "apikey": "92270ab5488820377885a91f92e46b45f548b981f7b6e260dc0267765621edaf622ee1b4b76946cf7cdeec2fc9b8524b24132dbe366589bb2c54279c8df79eaf8d44ce02e4b36926e2198aa528253145bf1c1c1b9cfc3e9ff7f8da01b5260ab1f6824a137594f86026d777c1c2421d6c78472f97752c9d0dc841b5ff60bcef51"
    },
    {
        "id": "ce1cf8f39be0d7d4",
        "type": "appwrite-config",
        "endpoint": "DYNAMIC",
        "project": "DYNAMIC",
        "apikey": "DYNAMIC"
    },
    {
        "id": "75c09e600c694c46",
        "type": "com.autana.createTable",
        "z": "7e59738d989d54b6",
        "appwriteConfig": "8b9887394539e844",
        "databaseName": "main",
        "tableName": "rules",
        "skipExists": true,
        "name": "",
        "x": 250,
        "y": 160,
        "wires": [
            [
                "b886d808fa66a10b"
            ]
        ]
    },
    {
        "id": "b886d808fa66a10b",
        "type": "com.autana.StringColumn",
        "z": "7e59738d989d54b6",
        "appwriteConfig": "8b9887394539e844",
        "databaseName": "main",
        "tableName": "",
        "key": "command",
        "size": "10",
        "required": false,
        "defaultValue": "GET",
        "isArray": false,
        "skipExists": true,
        "name": "",
        "x": 370,
        "y": 240,
        "wires": [
            [
                "eb97da16d623597f"
            ]
        ]
    },
    {
        "id": "eb97da16d623597f",
        "type": "com.autana.StringColumn",
        "z": "7e59738d989d54b6",
        "appwriteConfig": "8b9887394539e844",
        "databaseName": "main",
        "tableName": "",
        "key": "path",
        "size": 255,
        "required": true,
        "defaultValue": "",
        "isArray": false,
        "skipExists": true,
        "name": "",
        "x": 350,
        "y": 320,
        "wires": [
            [
                "d42a81dd6e4ba640"
            ]
        ]
    },
    {
        "id": "456afbec95b14cdf",
        "type": "com.autana.StringColumn",
        "z": "7e59738d989d54b6",
        "appwriteConfig": "8b9887394539e844",
        "databaseName": "main",
        "tableName": "",
        "key": "actionId",
        "size": "100",
        "required": true,
        "defaultValue": "",
        "isArray": false,
        "skipExists": true,
        "name": "",
        "x": 360,
        "y": 480,
        "wires": [
            [
                "2f2fbf207b29224a"
            ]
        ]
    },
    {
        "id": "2f2fbf207b29224a",
        "type": "com.autana.StringColumn",
        "z": "7e59738d989d54b6",
        "appwriteConfig": "8b9887394539e844",
        "databaseName": "main",
        "tableName": "",
        "key": "actionType",
        "size": "50",
        "required": false,
        "defaultValue": "DOCUMENT",
        "isArray": false,
        "skipExists": true,
        "name": "",
        "x": 370,
        "y": 560,
        "wires": [
            [
                "f3fd93bbf6ea4f13"
            ]
        ]
    },
    {
        "id": "840f8cf003cf6d35",
        "type": "comment",
        "z": "7e59738d989d54b6",
        "name": "GET, POST, PUT, DELETE",
        "info": "",
        "x": 650,
        "y": 240,
        "wires": []
    },
    {
        "id": "549710032319e38b",
        "type": "comment",
        "z": "7e59738d989d54b6",
        "name": "/pets/:petId",
        "info": "",
        "x": 610,
        "y": 320,
        "wires": []
    },
    {
        "id": "bd2167b4134e05bf",
        "type": "comment",
        "z": "7e59738d989d54b6",
        "name": "read_pet_by_id",
        "info": "",
        "x": 620,
        "y": 480,
        "wires": []
    },
    {
        "id": "b1b8727c7a8d7e81",
        "type": "comment",
        "z": "7e59738d989d54b6",
        "name": "DOCUMENT, STORAGE, FUNCTION",
        "info": "",
        "x": 680,
        "y": 560,
        "wires": []
    },
    {
        "id": "d42a81dd6e4ba640",
        "type": "com.autana.StringColumn",
        "z": "7e59738d989d54b6",
        "appwriteConfig": "8b9887394539e844",
        "databaseName": "main",
        "tableName": "",
        "key": "projectId",
        "size": "100",
        "required": true,
        "defaultValue": "",
        "isArray": false,
        "skipExists": true,
        "name": "",
        "x": 370,
        "y": 400,
        "wires": [
            [
                "456afbec95b14cdf"
            ]
        ]
    },
    {
        "id": "f3fd93bbf6ea4f13",
        "type": "com.autana.StringColumn",
        "z": "7e59738d989d54b6",
        "appwriteConfig": "8b9887394539e844",
        "databaseName": "main",
        "tableName": "",
        "key": "databaseId",
        "size": "100",
        "required": false,
        "defaultValue": "",
        "isArray": false,
        "skipExists": true,
        "name": "",
        "x": 370,
        "y": 640,
        "wires": [
            [
                "d3e9d732435093e3"
            ]
        ]
    },
    {
        "id": "136b476557a22c71",
        "type": "comment",
        "z": "7e59738d989d54b6",
        "name": "{PROJECT_ID}",
        "info": "",
        "x": 620,
        "y": 400,
        "wires": []
    },
    {
        "id": "d3e9d732435093e3",
        "type": "com.autana.StringColumn",
        "z": "7e59738d989d54b6",
        "appwriteConfig": "8b9887394539e844",
        "databaseName": "main",
        "tableName": "",
        "key": "collectionId",
        "size": "100",
        "required": false,
        "defaultValue": "",
        "isArray": false,
        "skipExists": true,
        "name": "",
        "x": 370,
        "y": 720,
        "wires": [
            [
                "3b8441fe70867b9b"
            ]
        ]
    },
    {
        "id": "2b76cb889312b797",
        "type": "com.autana.createIndex",
        "z": "7e59738d989d54b6",
        "appwriteConfig": "8b9887394539e844",
        "databaseName": "main",
        "tableName": "",
        "indexName": "uk_command_path",
        "indexType": "unique",
        "columns": "command,path",
        "orders": "ASC",
        "skipExists": true,
        "name": "",
        "x": 390,
        "y": 1040,
        "wires": [
            [
                "3771017c6ff47a5f"
            ]
        ]
    },
    {
        "id": "3771017c6ff47a5f",
        "type": "com.autana.createIndex",
        "z": "7e59738d989d54b6",
        "appwriteConfig": "8b9887394539e844",
        "databaseName": "main",
        "tableName": "",
        "indexName": "uk_projectId_actionId",
        "indexType": "unique",
        "columns": "projectId,actionId",
        "orders": "ASC",
        "skipExists": true,
        "name": "",
        "x": 400,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "30412556535de83d",
        "type": "comment",
        "z": "7e59738d989d54b6",
        "name": "{DATABASE_ID}",
        "info": "",
        "x": 620,
        "y": 640,
        "wires": []
    },
    {
        "id": "110211a8217788de",
        "type": "comment",
        "z": "7e59738d989d54b6",
        "name": "{COLLECTION_ID}",
        "info": "",
        "x": 630,
        "y": 720,
        "wires": []
    },
    {
        "id": "32da5cd827aa05d8",
        "type": "comment",
        "z": "7e59738d989d54b6",
        "name": "command and path are unique",
        "info": "",
        "x": 730,
        "y": 1040,
        "wires": []
    },
    {
        "id": "aa927cac287b8214",
        "type": "comment",
        "z": "7e59738d989d54b6",
        "name": "projectId and actionId are unique",
        "info": "",
        "x": 730,
        "y": 1120,
        "wires": []
    },
    {
        "id": "3b8441fe70867b9b",
        "type": "com.autana.StringColumn",
        "z": "7e59738d989d54b6",
        "appwriteConfig": "8b9887394539e844",
        "databaseName": "main",
        "tableName": "",
        "key": "operation",
        "size": "20",
        "required": false,
        "defaultValue": "READ",
        "isArray": false,
        "skipExists": true,
        "name": "",
        "x": 370,
        "y": 800,
        "wires": [
            [
                "a27b785035fb78f8"
            ]
        ]
    },
    {
        "id": "a27b785035fb78f8",
        "type": "com.autana.StringColumn",
        "z": "7e59738d989d54b6",
        "appwriteConfig": "8b9887394539e844",
        "databaseName": "main",
        "tableName": "",
        "key": "inboundTransform",
        "size": "4096",
        "required": false,
        "defaultValue": "",
        "isArray": false,
        "skipExists": true,
        "name": "",
        "x": 390,
        "y": 880,
        "wires": [
            [
                "345e0e959212b292"
            ]
        ]
    },
    {
        "id": "345e0e959212b292",
        "type": "com.autana.StringColumn",
        "z": "7e59738d989d54b6",
        "appwriteConfig": "8b9887394539e844",
        "databaseName": "main",
        "tableName": "",
        "key": "outboundTransform",
        "size": "4096",
        "required": false,
        "defaultValue": "",
        "isArray": false,
        "skipExists": true,
        "name": "",
        "x": 400,
        "y": 960,
        "wires": [
            [
                "2b76cb889312b797"
            ]
        ]
    },
    {
        "id": "dedad9128ebdd32b",
        "type": "comment",
        "z": "7e59738d989d54b6",
        "name": "depends of actionType",
        "info": "for DOCUMENT actionType is:\n - READ\n -  INSERT\n -  UPDATE\n -  DELETE",
        "x": 640,
        "y": 800,
        "wires": []
    },
    {
        "id": "66522053c47a44a7",
        "type": "comment",
        "z": "7e59738d989d54b6",
        "name": "JSONata inbound transform",
        "info": "",
        "x": 720,
        "y": 880,
        "wires": []
    },
    {
        "id": "6343edfafd5cbb9d",
        "type": "comment",
        "z": "7e59738d989d54b6",
        "name": "JSONata outbound transform",
        "info": "",
        "x": 720,
        "y": 960,
        "wires": []
    },
    {
        "id": "705577d5392af509",
        "type": "com.autana.createTable",
        "z": "1314f78d13357201",
        "appwriteConfig": "8b9887394539e844",
        "databaseName": "main",
        "tableName": "projects",
        "skipExists": true,
        "name": "",
        "x": 280,
        "y": 220,
        "wires": [
            [
                "3aa96748c86a35cb"
            ]
        ]
    },
    {
        "id": "3aa96748c86a35cb",
        "type": "com.autana.StringColumn",
        "z": "1314f78d13357201",
        "appwriteConfig": "8b9887394539e844",
        "databaseName": "main",
        "tableName": "",
        "key": "endpoint",
        "size": "255",
        "required": false,
        "defaultValue": "https://cloud.appwrite.io/v1",
        "isArray": false,
        "skipExists": true,
        "name": "",
        "x": 370,
        "y": 300,
        "wires": [
            [
                "2f1fab63cb7ad966"
            ]
        ]
    },
    {
        "id": "2f1fab63cb7ad966",
        "type": "com.autana.StringColumn",
        "z": "1314f78d13357201",
        "appwriteConfig": "8b9887394539e844",
        "databaseName": "main",
        "tableName": "",
        "key": "projectId",
        "size": "100",
        "required": true,
        "defaultValue": "",
        "isArray": false,
        "skipExists": true,
        "name": "",
        "x": 370,
        "y": 380,
        "wires": [
            [
                "1030c05996b3eda5"
            ]
        ]
    },
    {
        "id": "1030c05996b3eda5",
        "type": "com.autana.StringColumn",
        "z": "1314f78d13357201",
        "appwriteConfig": "8b9887394539e844",
        "databaseName": "main",
        "tableName": "",
        "key": "apiKey",
        "size": "1024",
        "required": true,
        "defaultValue": "",
        "isArray": false,
        "skipExists": true,
        "name": "",
        "x": 360,
        "y": 460,
        "wires": [
            [
                "3b650ecdc2dca7b9"
            ]
        ]
    },
    {
        "id": "cd1c1b97ae901a02",
        "type": "comment",
        "z": "1314f78d13357201",
        "name": "https://cloud.appwrite.io/v1",
        "info": "",
        "x": 660,
        "y": 300,
        "wires": []
    },
    {
        "id": "134a236eb37f1ae1",
        "type": "comment",
        "z": "1314f78d13357201",
        "name": "projectId1234",
        "info": "",
        "x": 610,
        "y": 380,
        "wires": []
    },
    {
        "id": "6c1898901cef1501",
        "type": "comment",
        "z": "1314f78d13357201",
        "name": "{APIKEY}",
        "info": "",
        "x": 600,
        "y": 460,
        "wires": []
    },
    {
        "id": "3b650ecdc2dca7b9",
        "type": "com.autana.createIndex",
        "z": "1314f78d13357201",
        "appwriteConfig": "8b9887394539e844",
        "databaseName": "main",
        "tableName": "",
        "indexName": "ix_projectId",
        "indexType": "unique",
        "columns": "projectId",
        "orders": "ASC",
        "skipExists": true,
        "name": "",
        "x": 370,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "98c7a2f37dd2f099",
        "type": "comment",
        "z": "1314f78d13357201",
        "name": "projectID is unique",
        "info": "",
        "x": 630,
        "y": 540,
        "wires": []
    },
    {
        "id": "7cb40c28e0b111e0",
        "type": "com.autana.createTable",
        "z": "082636f279771408",
        "appwriteConfig": "25e3266b912fbed8",
        "databaseName": "example",
        "tableName": "pets",
        "skipExists": true,
        "name": "",
        "x": 410,
        "y": 100,
        "wires": [
            [
                "f587a6b361b3bb69"
            ]
        ]
    },
    {
        "id": "f587a6b361b3bb69",
        "type": "com.autana.StringColumn",
        "z": "082636f279771408",
        "appwriteConfig": "25e3266b912fbed8",
        "databaseName": "example",
        "tableName": "",
        "key": "name",
        "size": "50",
        "required": true,
        "defaultValue": "",
        "isArray": false,
        "skipExists": true,
        "name": "",
        "x": 500,
        "y": 180,
        "wires": [
            [
                "2933dd34ce0143bd"
            ]
        ]
    },
    {
        "id": "2933dd34ce0143bd",
        "type": "com.autana.StringColumn",
        "z": "082636f279771408",
        "appwriteConfig": "25e3266b912fbed8",
        "databaseName": "example",
        "tableName": "",
        "key": "type",
        "size": "50",
        "required": true,
        "defaultValue": "",
        "isArray": false,
        "skipExists": true,
        "name": "",
        "x": 490,
        "y": 260,
        "wires": [
            [
                "0a2acda6824d7a86"
            ]
        ]
    },
    {
        "id": "0a2acda6824d7a86",
        "type": "com.autana.StringColumn",
        "z": "082636f279771408",
        "appwriteConfig": "25e3266b912fbed8",
        "databaseName": "example",
        "tableName": "",
        "key": "gender",
        "size": "1",
        "required": false,
        "defaultValue": "M",
        "isArray": false,
        "skipExists": true,
        "name": "",
        "x": 500,
        "y": 340,
        "wires": [
            [
                "b2cabb3468966bd4"
            ]
        ]
    },
    {
        "id": "2155837ab5ec604f",
        "type": "comment",
        "z": "082636f279771408",
        "name": "woofie",
        "info": "",
        "x": 730,
        "y": 180,
        "wires": []
    },
    {
        "id": "451fbcc9a1a7dcaf",
        "type": "comment",
        "z": "082636f279771408",
        "name": "dog",
        "info": "",
        "x": 730,
        "y": 260,
        "wires": []
    },
    {
        "id": "1fb12bf93e82ebdf",
        "type": "comment",
        "z": "082636f279771408",
        "name": "M",
        "info": "",
        "x": 730,
        "y": 340,
        "wires": []
    },
    {
        "id": "b628db9660107943",
        "type": "comment",
        "z": "082636f279771408",
        "name": "5",
        "info": "",
        "x": 730,
        "y": 420,
        "wires": []
    },
    {
        "id": "b2cabb3468966bd4",
        "type": "com.autana.IntegerColumn",
        "z": "082636f279771408",
        "appwriteConfig": "25e3266b912fbed8",
        "databaseName": "example",
        "tableName": "",
        "key": "age",
        "min": "",
        "max": "",
        "required": false,
        "defaultValue": "",
        "isArray": false,
        "skipExists": true,
        "name": "",
        "x": 490,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "2a4ec9dded10b9d4",
        "type": "com.autana.insertRow",
        "z": "1e9e2287cf2edeca",
        "appwriteConfig": "8b9887394539e844",
        "databaseName": "main",
        "tableName": "projects",
        "name": "",
        "docId": "pets",
        "x": 420,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "64ba940fbc89363c",
        "type": "change",
        "z": "1e9e2287cf2edeca",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"projectId\":\"pets\",\"apiKey\":\"92270ab5488820377885a91f92e46b45f548b981f7b6e260dc0267765621edaf622ee1b4b76946cf7cdeec2fc9b8524b24132dbe366589bb2c54279c8df79eaf8d44ce02e4b36926e2198aa528253145bf1c1c1b9cfc3e9ff7f8da01b5260ab1f6824a137594f86026d777c1c2421d6c78472f97752c9d0dc841b5ff60bcef51\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 320,
        "wires": [
            [
                "2a4ec9dded10b9d4"
            ]
        ]
    },
    {
        "id": "0c53c7b50aca5332",
        "type": "com.autana.readTable",
        "z": "1e9e2287cf2edeca",
        "appwriteConfig": "8b9887394539e844",
        "databaseName": "main",
        "tableName": "projects",
        "name": "find pets project",
        "query": "equal(\"projectId\",\"pets\")",
        "x": 360,
        "y": 160,
        "wires": [
            [
                "99bed4666b855b0d"
            ]
        ]
    },
    {
        "id": "99bed4666b855b0d",
        "type": "switch",
        "z": "1e9e2287cf2edeca",
        "name": "pet exists ?",
        "property": "payload.total",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 240,
        "wires": [
            [
                "7b182218fd39e611"
            ],
            [
                "64ba940fbc89363c"
            ]
        ]
    },
    {
        "id": "7b182218fd39e611",
        "type": "change",
        "z": "1e9e2287cf2edeca",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.documents[0]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "95bdadead4830db0",
        "type": "com.autana.insertRow",
        "z": "8e844c7077bbffbc",
        "appwriteConfig": "8b9887394539e844",
        "databaseName": "main",
        "tableName": "rules",
        "name": "",
        "docId": "",
        "x": 190,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "f801fdf780be4978",
        "type": "change",
        "z": "8e844c7077bbffbc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "_config",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 360,
        "wires": [
            [
                "95bdadead4830db0"
            ]
        ]
    },
    {
        "id": "4563ec0fbfe26533",
        "type": "com.autana.readTable",
        "z": "8e844c7077bbffbc",
        "appwriteConfig": "8b9887394539e844",
        "databaseName": "main",
        "tableName": "rules",
        "name": "find rule by command and path",
        "query": "",
        "x": 250,
        "y": 180,
        "wires": [
            [
                "671d6515fbb68154"
            ]
        ]
    },
    {
        "id": "671d6515fbb68154",
        "type": "switch",
        "z": "8e844c7077bbffbc",
        "name": "rule exists ?",
        "property": "payload.total",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 190,
        "y": 260,
        "wires": [
            [
                "f2b4861b8dc9f002"
            ],
            [
                "f801fdf780be4978"
            ]
        ]
    },
    {
        "id": "095d62752d790492",
        "type": "change",
        "z": "8e844c7077bbffbc",
        "name": "set params",
        "rules": [
            {
                "t": "set",
                "p": "_config",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "query",
                "pt": "msg",
                "to": "[\t    'equal(\"command\",\"' & _config.command & '\")',\t    'equal(\"path\",\"' & _config.path & '\")'\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 190,
        "y": 80,
        "wires": [
            [
                "4563ec0fbfe26533"
            ]
        ]
    },
    {
        "id": "f2b4861b8dc9f002",
        "type": "change",
        "z": "8e844c7077bbffbc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.documents[0]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "fa27ac36db7d0ee8",
        "type": "subflow:8e844c7077bbffbc",
        "z": "c456eb608cd0ccef",
        "name": "create read_all_pets",
        "x": 540,
        "y": 80,
        "wires": [
            [
                "ee0be307f2614b2b"
            ]
        ]
    },
    {
        "id": "84fc8b6b614a2c10",
        "type": "change",
        "z": "c456eb608cd0ccef",
        "name": "configure read_all_pets",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"command\":\"GET\",\"path\":\"/pets/\",\"projectId\":\"pets\",\"actionId\":\"read_all_pets\",\"actionType\":\"DOCUMENT\",\"databaseId\":\"example\",\"collectionId\":\"pets\",\"operation\":\"READ\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 80,
        "wires": [
            [
                "fa27ac36db7d0ee8"
            ]
        ]
    },
    {
        "id": "ee0be307f2614b2b",
        "type": "change",
        "z": "c456eb608cd0ccef",
        "name": "configure read_pet_by_id",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"command\":\"GET\",\"path\":\"/pets/:petId\",\"projectId\":\"pets\",\"actionId\":\"read_pet_by_id\",\"actionType\":\"DOCUMENT\",\"databaseId\":\"example\",\"collectionId\":\"pets\",\"operation\":\"READ\",\"inboundTransform\":\"[\\\"equal('$id', '\\\" & req.autana.pathParams.petId & \\\"')\\\"]\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 180,
        "wires": [
            [
                "217ccd725d3a1aea"
            ]
        ]
    },
    {
        "id": "217ccd725d3a1aea",
        "type": "subflow:8e844c7077bbffbc",
        "z": "c456eb608cd0ccef",
        "name": "create read_pet_by_id",
        "x": 540,
        "y": 180,
        "wires": [
            [
                "7f4e6393c53f7794"
            ]
        ]
    },
    {
        "id": "7f4e6393c53f7794",
        "type": "change",
        "z": "c456eb608cd0ccef",
        "name": "configure create_pet",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"command\":\"POST\",\"path\":\"/pets/\",\"projectId\":\"pets\",\"actionId\":\"create_pet\",\"actionType\":\"DOCUMENT\",\"databaseId\":\"example\",\"collectionId\":\"pets\",\"operation\":\"INSERT\",\"inboundTransform\":\"{\\\"docId\\\": \\\"unique()\\\", \\\"body\\\": req.body}\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 280,
        "wires": [
            [
                "b84e2adf217fe37d"
            ]
        ]
    },
    {
        "id": "b84e2adf217fe37d",
        "type": "subflow:8e844c7077bbffbc",
        "z": "c456eb608cd0ccef",
        "name": "create create_pet",
        "x": 530,
        "y": 280,
        "wires": [
            [
                "fd71ce3a215d5d8f"
            ]
        ]
    },
    {
        "id": "fd71ce3a215d5d8f",
        "type": "change",
        "z": "c456eb608cd0ccef",
        "name": "configure update_pet",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"command\":\"POST\",\"path\":\"/pets/:petId\",\"projectId\":\"pets\",\"actionId\":\"update_pet\",\"actionType\":\"DOCUMENT\",\"databaseId\":\"example\",\"collectionId\":\"pets\",\"operation\":\"UPDATE\",\"inboundTransform\":\"{\\\"docId\\\": req.autana.pathParams.petId, \\\"body\\\": req.body}\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 380,
        "wires": [
            [
                "0f236762e3dea817"
            ]
        ]
    },
    {
        "id": "0f236762e3dea817",
        "type": "subflow:8e844c7077bbffbc",
        "z": "c456eb608cd0ccef",
        "name": "create update_pet",
        "x": 530,
        "y": 380,
        "wires": [
            [
                "b06c8e6593f612bf"
            ]
        ]
    },
    {
        "id": "b06c8e6593f612bf",
        "type": "change",
        "z": "c456eb608cd0ccef",
        "name": "configure delete_pet",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"command\":\"DELETE\",\"path\":\"/pets/:petId\",\"projectId\":\"pets\",\"actionId\":\"delete_pet\",\"actionType\":\"DOCUMENT\",\"databaseId\":\"example\",\"collectionId\":\"pets\",\"operation\":\"DELETE\",\"inboundTransform\":\"{\\\"docId\\\": req.autana.pathParams.petId}\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 460,
        "wires": [
            [
                "c94ce775d0d07506"
            ]
        ]
    },
    {
        "id": "c94ce775d0d07506",
        "type": "subflow:8e844c7077bbffbc",
        "z": "c456eb608cd0ccef",
        "name": "create delete_pet",
        "x": 530,
        "y": 460,
        "wires": [
            [
                "4d50e5cef8a9f63e"
            ]
        ]
    },
    {
        "id": "4d50e5cef8a9f63e",
        "type": "change",
        "z": "c456eb608cd0ccef",
        "name": "configure create_es_pet",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"command\":\"POST\",\"path\":\"/es/pets/\",\"projectId\":\"pets\",\"actionId\":\"create_pet_es\",\"actionType\":\"DOCUMENT\",\"databaseId\":\"example\",\"collectionId\":\"pets\",\"operation\":\"INSERT\",\"inboundTransform\":\"{\\\"docId\\\":\\\"unique()\\\",\\\"body\\\":{\\\"name\\\": req.body.nombre, \\\"type\\\":req.body.tipo, \\\"gender\\\":req.body.genero, \\\"age\\\":req.body.edad}}\",\"outboundTransform\":\"{\\\"body\\\":{\\\"id\\\": payload.$id, \\\"nombre\\\": payload.name, \\\"tipo\\\":payload.type, \\\"genero\\\":payload.gender, \\\"edad\\\":payload.age}}\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 640,
        "wires": [
            [
                "2bca003ba874b394"
            ]
        ]
    },
    {
        "id": "2bca003ba874b394",
        "type": "subflow:8e844c7077bbffbc",
        "z": "c456eb608cd0ccef",
        "name": "create create_es_pet",
        "x": 560,
        "y": 640,
        "wires": [
            [
                "4ac65693c72ad53a"
            ]
        ]
    },
    {
        "id": "f2b1d7bb44b54f84",
        "type": "comment",
        "z": "c456eb608cd0ccef",
        "name": "with body transformation",
        "info": "",
        "x": 170,
        "y": 560,
        "wires": []
    },
    {
        "id": "4ac65693c72ad53a",
        "type": "change",
        "z": "c456eb608cd0ccef",
        "name": "configure read_all_es_pets",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"command\":\"GET\",\"path\":\"/es/pets/\",\"projectId\":\"pets\",\"actionId\":\"read_all_pets_es\",\"actionType\":\"DOCUMENT\",\"databaseId\":\"example\",\"collectionId\":\"pets\",\"operation\":\"READ\",\"outboundTransform\":\"{\\\"body\\\":{\\\"nombre\\\": payload.name, \\\"tipos\\\":payload.type, \\\"genero\\\":payload.gender, \\\"edad\\\":payload.age}}\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 720,
        "wires": [
            [
                "c9f6ecbe0dc968ae"
            ]
        ]
    },
    {
        "id": "c9f6ecbe0dc968ae",
        "type": "subflow:8e844c7077bbffbc",
        "z": "c456eb608cd0ccef",
        "name": "create read_all_pets",
        "x": 560,
        "y": 720,
        "wires": [
            [
                "b0edcf26ee86fa2b"
            ]
        ]
    },
    {
        "id": "04e1268133c93c71",
        "type": "subflow:8e844c7077bbffbc",
        "z": "c456eb608cd0ccef",
        "name": "create read_all_pets",
        "x": 560,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "b0edcf26ee86fa2b",
        "type": "change",
        "z": "c456eb608cd0ccef",
        "name": "configure read_pet_by_id_es",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"command\":\"GET\",\"path\":\"/es/pets/:petId\",\"projectId\":\"pets\",\"actionId\":\"read_pet_by_id_es\",\"actionType\":\"DOCUMENT\",\"databaseId\":\"example\",\"collectionId\":\"pets\",\"operation\":\"READ\",\"inboundTransform\":\"[\\\"equal('$id', '\\\" & req.autana.pathParams.petId & \\\"')\\\"]\",\"outboundTransform\":\"{\\\"body\\\":{\\\"nombre\\\": payload.documents[0].name, \\\"tipo\\\":payload.documents[0].type, \\\"genero\\\":payload.documents[0].gender, \\\"edad\\\":payload.documents[0].age}}\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 800,
        "wires": [
            [
                "04e1268133c93c71"
            ]
        ]
    },
    {
        "id": "27e010777d86ff75",
        "type": "com.autana.readTable",
        "z": "5846b8283270afd9",
        "appwriteConfig": "8b9887394539e844",
        "databaseName": "main",
        "tableName": "rules",
        "name": "find rules",
        "query": "",
        "x": 200,
        "y": 80,
        "wires": [
            [
                "cf2bfa976d1e9c80"
            ]
        ]
    },
    {
        "id": "0a939ebed6480be4",
        "type": "split",
        "z": "5846b8283270afd9",
        "name": "for each rule",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 210,
        "y": 200,
        "wires": [
            [
                "4efe0989dfee1245"
            ]
        ]
    },
    {
        "id": "5cb498df94edcd88",
        "type": "join",
        "z": "5846b8283270afd9",
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": "false",
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "x": 250,
        "y": 520,
        "wires": [
            [
                "14b8ae24475672c8"
            ]
        ]
    },
    {
        "id": "cf2bfa976d1e9c80",
        "type": "change",
        "z": "5846b8283270afd9",
        "name": "get rules",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.documents",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 140,
        "wires": [
            [
                "0a939ebed6480be4"
            ]
        ]
    },
    {
        "id": "4efe0989dfee1245",
        "type": "change",
        "z": "5846b8283270afd9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "rule",
                "pt": "msg",
                "to": "{\t   \"command\": payload.command,\t   \"path\": payload.path,\t   \"projectId\": payload.projectId,\t   \"actionId\": payload.actionId,\t   \"actionType\": payload.actionType,\t   \"databaseId\": payload.databaseId,\t   \"collectionId\": payload.collectionId,\t   \"operation\": payload.operation,\t   \"inboundTransform\": payload.inboundTransform,\t   \"outboundTransform\": payload.outboundTransform\t}",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "query",
                "pt": "msg",
                "to": "'equal(\"projectId\",\"' & rule.projectId & '\")'",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 280,
        "wires": [
            [
                "f96bb59d3c811ea4"
            ]
        ]
    },
    {
        "id": "14b8ae24475672c8",
        "type": "function",
        "z": "5846b8283270afd9",
        "name": "group by command",
        "func": "const ruleList = msg.payload;\n\nconst groupByCategory = ruleList.reduce((group, rule) => {\n    const { command } = rule;\n    group[command] = group[command] ?? [];\n    group[command].push(rule);\n    return group;\n}, {});\n\nmsg.payload = groupByCategory;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 580,
        "wires": [
            [
                "6a9afcb0120a0d0c"
            ]
        ]
    },
    {
        "id": "6a9afcb0120a0d0c",
        "type": "split",
        "z": "5846b8283270afd9",
        "name": "for each command",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 390,
        "y": 640,
        "wires": [
            [
                "c70e0be681937ac2"
            ]
        ]
    },
    {
        "id": "9e2b6dbc63696918",
        "type": "join",
        "z": "5846b8283270afd9",
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": "false",
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "x": 350,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "c70e0be681937ac2",
        "type": "function",
        "z": "5846b8283270afd9",
        "name": "group by path",
        "func": "const ruleList = msg.payload;\n\nconst groupByPath = ruleList.reduce((group, rule) => {\n    const { path } = rule;\n    group[path] = group[path] ?? rule;\n    return group;\n}, {});\n\nmsg.payload = groupByPath;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 700,
        "wires": [
            [
                "9e2b6dbc63696918"
            ]
        ]
    },
    {
        "id": "f96bb59d3c811ea4",
        "type": "com.autana.readTable",
        "z": "5846b8283270afd9",
        "appwriteConfig": "8b9887394539e844",
        "databaseName": "main",
        "tableName": "projects",
        "name": "find project by id",
        "query": "",
        "x": 290,
        "y": 340,
        "wires": [
            [
                "d01cf9a9c6651140"
            ]
        ]
    },
    {
        "id": "d01cf9a9c6651140",
        "type": "change",
        "z": "5846b8283270afd9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "rule.project",
                "pt": "msg",
                "to": "payload.documents[0]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rule",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "rule",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 420,
        "wires": [
            [
                "5cb498df94edcd88"
            ]
        ]
    },
    {
        "id": "58688987007c2b30",
        "type": "http in",
        "z": "21bb71fafaf0d583",
        "name": "",
        "url": "/*",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 280,
        "y": 140,
        "wires": [
            [
                "fee9c9a538a03ca7"
            ]
        ]
    },
    {
        "id": "0aaaa80add2b291e",
        "type": "http in",
        "z": "21bb71fafaf0d583",
        "name": "",
        "url": "/*",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 290,
        "y": 200,
        "wires": [
            [
                "fee9c9a538a03ca7"
            ]
        ]
    },
    {
        "id": "db0d5cfd3d1553a2",
        "type": "http in",
        "z": "21bb71fafaf0d583",
        "name": "",
        "url": "/*",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 280,
        "y": 260,
        "wires": [
            [
                "fee9c9a538a03ca7"
            ]
        ]
    },
    {
        "id": "3cdcf1750d2bf7b1",
        "type": "http in",
        "z": "21bb71fafaf0d583",
        "name": "",
        "url": "/*",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 290,
        "y": 320,
        "wires": [
            [
                "fee9c9a538a03ca7"
            ]
        ]
    },
    {
        "id": "7ad6e650c5729a6a",
        "type": "http in",
        "z": "21bb71fafaf0d583",
        "name": "",
        "url": "/*",
        "method": "patch",
        "upload": false,
        "swaggerDoc": "",
        "x": 290,
        "y": 380,
        "wires": [
            [
                "fee9c9a538a03ca7"
            ]
        ]
    },
    {
        "id": "386528c9be0b195d",
        "type": "catch",
        "z": "21bb71fafaf0d583",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 280,
        "y": 1600,
        "wires": [
            [
                "53e604e8718cb944",
                "4f56772902327740"
            ]
        ]
    },
    {
        "id": "53e604e8718cb944",
        "type": "change",
        "z": "21bb71fafaf0d583",
        "name": "status 500",
        "rules": [
            {
                "t": "set",
                "p": "statusCode",
                "pt": "msg",
                "to": "500",
                "tot": "str"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 1600,
        "wires": [
            [
                "4423ac8b56223d0c"
            ]
        ]
    },
    {
        "id": "4423ac8b56223d0c",
        "type": "link out",
        "z": "21bb71fafaf0d583",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "6dc69ec0ea99ea75"
        ],
        "x": 575,
        "y": 1600,
        "wires": []
    },
    {
        "id": "6dc69ec0ea99ea75",
        "type": "link in",
        "z": "21bb71fafaf0d583",
        "name": "link in 1",
        "links": [
            "4423ac8b56223d0c",
            "3e0f0d4c8e5d1337",
            "24b6d15d5fd02ae1"
        ],
        "x": 235,
        "y": 1160,
        "wires": [
            [
                "b3c88e760813461a"
            ]
        ]
    },
    {
        "id": "fee9c9a538a03ca7",
        "type": "link out",
        "z": "21bb71fafaf0d583",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "fb609bd38ea3833b"
        ],
        "x": 485,
        "y": 260,
        "wires": []
    },
    {
        "id": "8c84bece8037e906",
        "type": "link in",
        "z": "21bb71fafaf0d583",
        "name": "link in 2",
        "links": [
            "910355357ef7182b"
        ],
        "x": 235,
        "y": 620,
        "wires": [
            [
                "24c114deb6f66f56"
            ]
        ]
    },
    {
        "id": "332a68e4d82c82a5",
        "type": "debug",
        "z": "21bb71fafaf0d583",
        "name": "api-gateway response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 1240,
        "wires": []
    },
    {
        "id": "24c114deb6f66f56",
        "type": "change",
        "z": "21bb71fafaf0d583",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "statusCode",
                "pt": "msg",
                "to": "200",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 620,
        "wires": [
            [
                "3e0f0d4c8e5d1337"
            ]
        ]
    },
    {
        "id": "3e0f0d4c8e5d1337",
        "type": "link out",
        "z": "21bb71fafaf0d583",
        "name": "link out 3",
        "mode": "link",
        "links": [
            "6dc69ec0ea99ea75"
        ],
        "x": 535,
        "y": 620,
        "wires": []
    },
    {
        "id": "d2307a653a6c093a",
        "type": "comment",
        "z": "21bb71fafaf0d583",
        "name": "Handle all Methods",
        "info": "",
        "x": 250,
        "y": 80,
        "wires": []
    },
    {
        "id": "ac339bef04971b3c",
        "type": "comment",
        "z": "21bb71fafaf0d583",
        "name": "send response",
        "info": "",
        "x": 240,
        "y": 1100,
        "wires": []
    },
    {
        "id": "f100444db9c3e92e",
        "type": "comment",
        "z": "21bb71fafaf0d583",
        "name": "Exception handling",
        "info": "",
        "x": 250,
        "y": 1540,
        "wires": []
    },
    {
        "id": "ecdb7de26680c173",
        "type": "comment",
        "z": "21bb71fafaf0d583",
        "name": "OK",
        "info": "",
        "x": 210,
        "y": 560,
        "wires": []
    },
    {
        "id": "7c71fd36203bbb00",
        "type": "function",
        "z": "21bb71fafaf0d583",
        "name": "getPathParams",
        "func": "function getPathParams(path, pattern) {\n    // Crear una expresin regular para detectar los parmetros\n    const paramRegex = /\\/:([^\\/]+)/g;\n\n    // Extraer los nombres de los parmetros\n    const paramNames = [...pattern.matchAll(paramRegex)].map(match => match[1]);\n\n    // Verificar si hay nombres de parmetros duplicados\n    const hasDuplicates = paramNames.length !== new Set(paramNames).size;\n    if (hasDuplicates) {\n        throw new Error(\"Nombres de parametros repetidos en el patron\");\n    }\n\n    // Reemplazar los parmetros en el patrn por una expresin regular\n    const patternRegex = new RegExp('^' + pattern.replace(paramRegex, '/([^/]+)') + '$');\n\n    // Comprobar si el path coincide con el patrn\n    const match = path.match(patternRegex);\n    if (!match) {\n        throw new Error(\"Path y patron no coinciden en formato\");\n    }\n\n    // Crear el objeto de parmetros\n    const params = {};\n    paramNames.forEach((param, i) => {\n        params[param] = match[i + 1];\n    });\n\n    return params;\n}\n\nconst path = msg.req.url;\nconst matchedPathPattern = msg.pattern;\n\nmsg.req.parsedParams = getPathParams(path, matchedPathPattern);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 640,
        "wires": [
            [
                "d7e905e47c8459db",
                "c880c5f1112f1d48"
            ]
        ]
    },
    {
        "id": "b14d8d40c688af2b",
        "type": "comment",
        "z": "21bb71fafaf0d583",
        "name": "pre-process",
        "info": "",
        "x": 870,
        "y": 80,
        "wires": []
    },
    {
        "id": "910355357ef7182b",
        "type": "link out",
        "z": "21bb71fafaf0d583",
        "name": "link out 4",
        "mode": "link",
        "links": [
            "8c84bece8037e906"
        ],
        "x": 1435,
        "y": 920,
        "wires": []
    },
    {
        "id": "fb609bd38ea3833b",
        "type": "link in",
        "z": "21bb71fafaf0d583",
        "name": "link in 3",
        "links": [
            "fee9c9a538a03ca7"
        ],
        "x": 855,
        "y": 140,
        "wires": [
            [
                "f238acca872c2e71",
                "1dacd25a88bb6815"
            ]
        ]
    },
    {
        "id": "f238acca872c2e71",
        "type": "debug",
        "z": "21bb71fafaf0d583",
        "name": "api-gateway request",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 140,
        "wires": []
    },
    {
        "id": "4979c9081d75a341",
        "type": "debug",
        "z": "21bb71fafaf0d583",
        "name": "pre-process",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 760,
        "wires": []
    },
    {
        "id": "4f56772902327740",
        "type": "debug",
        "z": "21bb71fafaf0d583",
        "name": "ERROR",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 1680,
        "wires": []
    },
    {
        "id": "6ee6c11cc0518789",
        "type": "function",
        "z": "21bb71fafaf0d583",
        "name": "isPathMatchingPattern",
        "func": "function isPathMatchingPattern(path, pattern) {\n    // Crear una expresin regular para detectar los parmetros\n    const paramRegex = /\\/:([^\\/]+)/g;\n\n    // Reemplazar los parmetros en el patrn por una expresin regular\n    const patternRegex = new RegExp('^' + pattern.replace(paramRegex, '/([^/]+)') + '$');\n\n    // Comprobar si el path coincide con el patrn\n    const match = path.match(patternRegex);\n    return match != null;\n}\n\nconst path = msg.req.url;\nconst pattern = msg.pattern;\n\nmsg.paramsCanBeParsed = isPathMatchingPattern(path, pattern);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 520,
        "wires": [
            [
                "f7b9836be8449c8c"
            ]
        ]
    },
    {
        "id": "1dacd25a88bb6815",
        "type": "change",
        "z": "21bb71fafaf0d583",
        "name": "filter rules by method",
        "rules": [
            {
                "t": "set",
                "p": "rules",
                "pt": "msg",
                "to": "http_rules",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "req.method",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$lookup(rules, method)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 220,
        "wires": [
            [
                "1b856a5e9c292190",
                "d4b04fb22d3f0d8b"
            ]
        ]
    },
    {
        "id": "1b856a5e9c292190",
        "type": "debug",
        "z": "21bb71fafaf0d583",
        "name": "req",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1190,
        "y": 220,
        "wires": []
    },
    {
        "id": "2cbeda31acd0ee4f",
        "type": "split",
        "z": "21bb71fafaf0d583",
        "name": "foreach rule",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "pattern",
        "x": 950,
        "y": 420,
        "wires": [
            [
                "eae271d73aa6dd76",
                "6ee6c11cc0518789"
            ]
        ]
    },
    {
        "id": "eae271d73aa6dd76",
        "type": "debug",
        "z": "21bb71fafaf0d583",
        "name": "rule",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1190,
        "y": 420,
        "wires": []
    },
    {
        "id": "97ec91da3cb74822",
        "type": "join",
        "z": "21bb71fafaf0d583",
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": "false",
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "x": 960,
        "y": 960,
        "wires": [
            [
                "abea27fd4910f654"
            ]
        ]
    },
    {
        "id": "f7b9836be8449c8c",
        "type": "switch",
        "z": "21bb71fafaf0d583",
        "name": "paramsCanBeParsed?",
        "property": "paramsCanBeParsed",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1100,
        "y": 580,
        "wires": [
            [
                "7c71fd36203bbb00"
            ],
            [
                "66639612e9db0bba"
            ]
        ]
    },
    {
        "id": "55811cfa2f38e68d",
        "type": "change",
        "z": "21bb71fafaf0d583",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "statusCode",
                "pt": "msg",
                "to": "404",
                "tot": "str"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 840,
        "wires": [
            [
                "24b6d15d5fd02ae1"
            ]
        ]
    },
    {
        "id": "24b6d15d5fd02ae1",
        "type": "link out",
        "z": "21bb71fafaf0d583",
        "name": "link out 5",
        "mode": "link",
        "links": [
            "6dc69ec0ea99ea75"
        ],
        "x": 535,
        "y": 840,
        "wires": []
    },
    {
        "id": "7740a5f6800986e6",
        "type": "comment",
        "z": "21bb71fafaf0d583",
        "name": "Not Found",
        "info": "",
        "x": 220,
        "y": 780,
        "wires": []
    },
    {
        "id": "61125ddf884368b4",
        "type": "link in",
        "z": "21bb71fafaf0d583",
        "name": "link in 4",
        "links": [
            "44187f8078307871",
            "378914556a94d67c"
        ],
        "x": 205,
        "y": 840,
        "wires": [
            [
                "55811cfa2f38e68d"
            ]
        ]
    },
    {
        "id": "44187f8078307871",
        "type": "link out",
        "z": "21bb71fafaf0d583",
        "name": "link out 6",
        "mode": "link",
        "links": [
            "61125ddf884368b4"
        ],
        "x": 1365,
        "y": 320,
        "wires": []
    },
    {
        "id": "d7e905e47c8459db",
        "type": "link out",
        "z": "21bb71fafaf0d583",
        "name": "link out 7",
        "mode": "link",
        "links": [
            "c6b8d8a36dc05b63"
        ],
        "x": 1235,
        "y": 640,
        "wires": []
    },
    {
        "id": "c6b8d8a36dc05b63",
        "type": "link in",
        "z": "21bb71fafaf0d583",
        "name": "link in 5",
        "links": [
            "d7e905e47c8459db",
            "66639612e9db0bba"
        ],
        "x": 855,
        "y": 960,
        "wires": [
            [
                "97ec91da3cb74822"
            ]
        ]
    },
    {
        "id": "3e4927d1388fe4d2",
        "type": "comment",
        "z": "21bb71fafaf0d583",
        "name": "404",
        "info": "",
        "x": 1450,
        "y": 320,
        "wires": []
    },
    {
        "id": "66639612e9db0bba",
        "type": "link out",
        "z": "21bb71fafaf0d583",
        "name": "link out 8",
        "mode": "link",
        "links": [
            "c6b8d8a36dc05b63"
        ],
        "x": 1295,
        "y": 580,
        "wires": []
    },
    {
        "id": "c880c5f1112f1d48",
        "type": "change",
        "z": "21bb71fafaf0d583",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "req.action",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1090,
        "y": 700,
        "wires": [
            [
                "4979c9081d75a341"
            ]
        ]
    },
    {
        "id": "abea27fd4910f654",
        "type": "switch",
        "z": "21bb71fafaf0d583",
        "name": "action not null ?",
        "property": "req.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1000,
        "y": 1040,
        "wires": [
            [
                "a99658442ce47e83"
            ],
            [
                "378914556a94d67c"
            ]
        ]
    },
    {
        "id": "378914556a94d67c",
        "type": "link out",
        "z": "21bb71fafaf0d583",
        "name": "link out 9",
        "mode": "link",
        "links": [
            "61125ddf884368b4"
        ],
        "x": 1175,
        "y": 1080,
        "wires": []
    },
    {
        "id": "b9b2167b9c35be1a",
        "type": "comment",
        "z": "21bb71fafaf0d583",
        "name": "404",
        "info": "",
        "x": 1270,
        "y": 1080,
        "wires": []
    },
    {
        "id": "d42c184708759c49",
        "type": "comment",
        "z": "21bb71fafaf0d583",
        "name": "200",
        "info": "",
        "x": 1530,
        "y": 920,
        "wires": []
    },
    {
        "id": "d4b04fb22d3f0d8b",
        "type": "switch",
        "z": "21bb71fafaf0d583",
        "name": "there are rules by method ?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1000,
        "y": 320,
        "wires": [
            [
                "2cbeda31acd0ee4f"
            ],
            [
                "44187f8078307871"
            ]
        ]
    },
    {
        "id": "455b5fb7177e168a",
        "type": "comment",
        "z": "21bb71fafaf0d583",
        "name": "post-process",
        "info": "",
        "x": 870,
        "y": 880,
        "wires": []
    },
    {
        "id": "a99658442ce47e83",
        "type": "change",
        "z": "21bb71fafaf0d583",
        "name": "add X-Action_Id header",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{ \"X-Action_Id\": req.action.actionId }",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1270,
        "y": 960,
        "wires": [
            [
                "910355357ef7182b"
            ]
        ]
    },
    {
        "id": "b3c88e760813461a",
        "type": "function",
        "z": "21bb71fafaf0d583",
        "name": "add X-SuperPowered-By",
        "func": "var msg = msg;\nif (msg.headers == null) {\n    msg.headers = {\n        \"X-SuperPowered-By\": \"Autana API Gateway\"\n    };\n} else {\n    msg.headers[\"X-SuperPowered-By\"] = \"Autana API Gateway\"\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 1160,
        "wires": [
            [
                "ce80cd4f1eee9dc8"
            ]
        ]
    },
    {
        "id": "ce80cd4f1eee9dc8",
        "type": "change",
        "z": "21bb71fafaf0d583",
        "name": "cleanUp",
        "rules": [
            {
                "t": "set",
                "p": "req.autana",
                "pt": "msg",
                "to": "{\t    \"method\": method,\t    \"route\": pattern,\t    \"url\": req.url,\t    \"pathParams\": req.parsedParams,\t    \"queryParams\": req.query,\t    \"action\": req.action\t}",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "rules",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "method",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "pattern",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "paramsCanBeParsed",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "req.parsedParams",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "req.action",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 1240,
        "wires": [
            [
                "332a68e4d82c82a5"
            ]
        ]
    },
    {
        "id": "c656019334ca5acb",
        "type": "comment",
        "z": "21bb71fafaf0d583",
        "name": "Input Configuration",
        "info": "",
        "x": 250,
        "y": 1860,
        "wires": []
    },
    {
        "id": "0edd344a21511892",
        "type": "change",
        "z": "21bb71fafaf0d583",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "http_rules",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 1920,
        "wires": [
            []
        ]
    },
    {
        "id": "37217bb40323f06e",
        "type": "change",
        "z": "98574241950962f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "req.body",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "7d6a8354b237ee95",
        "type": "switch",
        "z": "69b3865e779a9ae0",
        "name": "exist inboundTransform ?",
        "property": "req.autana.action.inboundTransform",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 180,
        "wires": [
            [
                "ba4f6e3aed2f1ef5"
            ],
            []
        ]
    },
    {
        "id": "ba4f6e3aed2f1ef5",
        "type": "com.autana.jsonata",
        "z": "69b3865e779a9ae0",
        "name": "",
        "template": "req.autana.action.inboundTransform",
        "templateType": "msg",
        "target": "inboundTransformResult",
        "targetType": "msg",
        "x": 320,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "40f3b2df168dfc38",
        "type": "switch",
        "z": "4aa39d5e7b7da9d4",
        "name": "exist outboundTransform ?",
        "property": "req.autana.action.outboundTransform",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 460,
        "y": 140,
        "wires": [
            [
                "99c3744431f58262"
            ],
            []
        ]
    },
    {
        "id": "99c3744431f58262",
        "type": "com.autana.jsonata",
        "z": "4aa39d5e7b7da9d4",
        "name": "",
        "template": "req.autana.action.outboundTransform",
        "templateType": "msg",
        "target": "outboundTransformResult",
        "targetType": "msg",
        "x": 420,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "e4e9b44c02ccfdd1",
        "type": "inject",
        "z": "07021e24ebc3f637",
        "name": "start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "3b7c8c5f9387b3c7"
            ]
        ]
    },
    {
        "id": "d144241d3986169c",
        "type": "debug",
        "z": "07021e24ebc3f637",
        "name": "rules",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 120,
        "wires": []
    },
    {
        "id": "3b7c8c5f9387b3c7",
        "type": "subflow:5846b8283270afd9",
        "z": "07021e24ebc3f637",
        "x": 310,
        "y": 120,
        "wires": [
            [
                "d144241d3986169c",
                "9e3e93a5d21d8ebb"
            ]
        ]
    },
    {
        "id": "b2f601ad1ad58a48",
        "type": "http response",
        "z": "07021e24ebc3f637",
        "name": "http response",
        "statusCode": "",
        "headers": {},
        "x": 1140,
        "y": 1120,
        "wires": []
    },
    {
        "id": "dcae466a56fd8449",
        "type": "debug",
        "z": "07021e24ebc3f637",
        "name": "request",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 180,
        "wires": []
    },
    {
        "id": "9e3e93a5d21d8ebb",
        "type": "subflow:21bb71fafaf0d583",
        "z": "07021e24ebc3f637",
        "name": "",
        "x": 330,
        "y": 200,
        "wires": [
            [
                "dcae466a56fd8449",
                "a0431d57797a7af0"
            ]
        ]
    },
    {
        "id": "429fb8cdb3880018",
        "type": "switch",
        "z": "07021e24ebc3f637",
        "name": "select DOCUMENT operation",
        "property": "req.autana.action.operation",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "READ",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "INSERT",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "UPDATE",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "DELETE",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 350,
        "y": 900,
        "wires": [
            [
                "065eae336a098051"
            ],
            [
                "36ecb15fe948d7d6"
            ],
            [
                "e8a5e38fb913b5d9"
            ],
            [
                "fb23eae4308d5996"
            ],
            [
                "fc4be68defbfe040"
            ]
        ]
    },
    {
        "id": "6b66ab49ecbaa682",
        "type": "link in",
        "z": "07021e24ebc3f637",
        "name": "link in 6",
        "links": [
            "f400ca66e281f41d",
            "498b63a998d798c2",
            "9039d29bdf160d9d",
            "236d90cb66ce23de",
            "f8ea83b111728779",
            "7fe491a18d8a9af3"
        ],
        "x": 1005,
        "y": 1120,
        "wires": [
            [
                "b2f601ad1ad58a48"
            ]
        ]
    },
    {
        "id": "2167221a18e59a26",
        "type": "switch",
        "z": "07021e24ebc3f637",
        "name": "select actionType",
        "property": "req.autana.action.actionType",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "DOCUMENT",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "FUNCTION",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "STORAGE",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 310,
        "y": 540,
        "wires": [
            [
                "9f035b6065adc9c4"
            ],
            [
                "d7f10b4f79173049"
            ],
            [
                "d7f10b4f79173049"
            ],
            [
                "d7f10b4f79173049"
            ]
        ]
    },
    {
        "id": "498b63a998d798c2",
        "type": "link out",
        "z": "07021e24ebc3f637",
        "name": "link out 11",
        "mode": "link",
        "links": [
            "6b66ab49ecbaa682"
        ],
        "x": 1265,
        "y": 420,
        "wires": []
    },
    {
        "id": "9f035b6065adc9c4",
        "type": "link out",
        "z": "07021e24ebc3f637",
        "name": "link out 12",
        "mode": "link",
        "links": [
            "de2aa43ba4755d52"
        ],
        "x": 495,
        "y": 480,
        "wires": []
    },
    {
        "id": "de2aa43ba4755d52",
        "type": "link in",
        "z": "07021e24ebc3f637",
        "name": "link in 7",
        "links": [
            "9f035b6065adc9c4"
        ],
        "x": 155,
        "y": 760,
        "wires": [
            [
                "c55b0f53a54ec0d2"
            ]
        ]
    },
    {
        "id": "065eae336a098051",
        "type": "link out",
        "z": "07021e24ebc3f637",
        "name": "link out 13",
        "mode": "link",
        "links": [
            "0404b36dd351c197",
            "b7291304dda25679"
        ],
        "x": 575,
        "y": 820,
        "wires": []
    },
    {
        "id": "0404b36dd351c197",
        "type": "link in",
        "z": "07021e24ebc3f637",
        "name": "link in 8",
        "links": [
            "065eae336a098051"
        ],
        "x": 385,
        "y": 1220,
        "wires": [
            [
                "9270ce089d3fe629",
                "b7c6c00fee05cdc7"
            ]
        ]
    },
    {
        "id": "17dcc370d4672d54",
        "type": "comment",
        "z": "07021e24ebc3f637",
        "name": "send response",
        "info": "",
        "x": 1060,
        "y": 1060,
        "wires": []
    },
    {
        "id": "689f9ca52c116501",
        "type": "comment",
        "z": "07021e24ebc3f637",
        "name": "select actionType like DOCUMENT, FUNCTION or STORAGE",
        "info": "",
        "x": 300,
        "y": 420,
        "wires": []
    },
    {
        "id": "a0431d57797a7af0",
        "type": "link out",
        "z": "07021e24ebc3f637",
        "name": "link out 14",
        "mode": "link",
        "links": [
            "72969fbf592fb8ea"
        ],
        "x": 485,
        "y": 240,
        "wires": []
    },
    {
        "id": "72969fbf592fb8ea",
        "type": "link in",
        "z": "07021e24ebc3f637",
        "name": "link in 9",
        "links": [
            "a0431d57797a7af0"
        ],
        "x": 155,
        "y": 480,
        "wires": [
            [
                "2167221a18e59a26"
            ]
        ]
    },
    {
        "id": "c596930578e66a33",
        "type": "comment",
        "z": "07021e24ebc3f637",
        "name": "select DOCUMENT operation like READ, INSERT, UPDATE or DELETE",
        "info": "",
        "x": 330,
        "y": 700,
        "wires": []
    },
    {
        "id": "c55b0f53a54ec0d2",
        "type": "change",
        "z": "07021e24ebc3f637",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "endpoint",
                "pt": "msg",
                "to": "req.autana.action.project.endpoint",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "project",
                "pt": "msg",
                "to": "req.autana.action.project.projectId",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "apiKey",
                "pt": "msg",
                "to": "req.autana.action.project.apiKey",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "databaseName",
                "pt": "msg",
                "to": "req.autana.action.databaseId",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "tableName",
                "pt": "msg",
                "to": "req.autana.action.collectionId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 800,
        "wires": [
            [
                "429fb8cdb3880018"
            ]
        ]
    },
    {
        "id": "62c8b0931c5f2399",
        "type": "com.autana.readTable",
        "z": "07021e24ebc3f637",
        "appwriteConfig": "ce1cf8f39be0d7d4",
        "databaseName": "",
        "tableName": "",
        "name": "",
        "query": "",
        "x": 620,
        "y": 1580,
        "wires": [
            [
                "e0b79abcc31fec8c",
                "ea675486b4038d48"
            ]
        ]
    },
    {
        "id": "e0b79abcc31fec8c",
        "type": "link out",
        "z": "07021e24ebc3f637",
        "name": "link out 15",
        "mode": "link",
        "links": [
            "1f0dc3e955551512"
        ],
        "x": 855,
        "y": 1600,
        "wires": []
    },
    {
        "id": "9270ce089d3fe629",
        "type": "debug",
        "z": "07021e24ebc3f637",
        "name": "BEFORE READ",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 1160,
        "wires": []
    },
    {
        "id": "ea675486b4038d48",
        "type": "debug",
        "z": "07021e24ebc3f637",
        "name": "AFTER READ",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 1500,
        "wires": []
    },
    {
        "id": "0cc438b5f8265914",
        "type": "comment",
        "z": "07021e24ebc3f637",
        "name": "DOCUMENT READ",
        "info": "",
        "x": 130,
        "y": 1140,
        "wires": []
    },
    {
        "id": "aba26514c1b5852c",
        "type": "link out",
        "z": "07021e24ebc3f637",
        "name": "link out 16",
        "mode": "link",
        "links": [
            "1f0dc3e955551512"
        ],
        "x": 775,
        "y": 2040,
        "wires": []
    },
    {
        "id": "72bffad7e78580b7",
        "type": "debug",
        "z": "07021e24ebc3f637",
        "name": "BEFORE INSERT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 1780,
        "wires": []
    },
    {
        "id": "fab4022fda083804",
        "type": "debug",
        "z": "07021e24ebc3f637",
        "name": "AFTER INSERT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 2100,
        "wires": []
    },
    {
        "id": "395da7a2da557286",
        "type": "com.autana.insertRow",
        "z": "07021e24ebc3f637",
        "appwriteConfig": "ce1cf8f39be0d7d4",
        "databaseName": "",
        "tableName": "",
        "name": "",
        "docId": "",
        "x": 570,
        "y": 2040,
        "wires": [
            [
                "aba26514c1b5852c",
                "fab4022fda083804"
            ]
        ]
    },
    {
        "id": "36ecb15fe948d7d6",
        "type": "link out",
        "z": "07021e24ebc3f637",
        "name": "link out 17",
        "mode": "link",
        "links": [
            "782816c15fbf2bc4",
            "7ee2c454d8cfbf42"
        ],
        "x": 575,
        "y": 860,
        "wires": []
    },
    {
        "id": "782816c15fbf2bc4",
        "type": "link in",
        "z": "07021e24ebc3f637",
        "name": "link in 10",
        "links": [
            "36ecb15fe948d7d6"
        ],
        "x": 385,
        "y": 1820,
        "wires": [
            [
                "72bffad7e78580b7",
                "c5b69af1e6784837"
            ]
        ]
    },
    {
        "id": "4c56d6d0757345a4",
        "type": "comment",
        "z": "07021e24ebc3f637",
        "name": "DOCUMENT INSERT",
        "info": "",
        "x": 130,
        "y": 1740,
        "wires": []
    },
    {
        "id": "e8a5e38fb913b5d9",
        "type": "link out",
        "z": "07021e24ebc3f637",
        "name": "link out 18",
        "mode": "link",
        "links": [
            "7548756c8d69d169",
            "8f7b6c459bafc950"
        ],
        "x": 575,
        "y": 900,
        "wires": []
    },
    {
        "id": "7548756c8d69d169",
        "type": "link in",
        "z": "07021e24ebc3f637",
        "name": "link in 11",
        "links": [
            "e8a5e38fb913b5d9"
        ],
        "x": 395,
        "y": 2280,
        "wires": [
            [
                "de8ffb4c9ed9e492",
                "f8c35cdadbdf968d"
            ]
        ]
    },
    {
        "id": "11eb9cd85889e529",
        "type": "link out",
        "z": "07021e24ebc3f637",
        "name": "link out 19",
        "mode": "link",
        "links": [
            "1f0dc3e955551512"
        ],
        "x": 935,
        "y": 2600,
        "wires": []
    },
    {
        "id": "de8ffb4c9ed9e492",
        "type": "debug",
        "z": "07021e24ebc3f637",
        "name": "BEFORE UPDATE",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 2220,
        "wires": []
    },
    {
        "id": "79e5df297a0c5e62",
        "type": "debug",
        "z": "07021e24ebc3f637",
        "name": "AFTER UPDATE",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 2700,
        "wires": []
    },
    {
        "id": "d3eee615b498b9a8",
        "type": "comment",
        "z": "07021e24ebc3f637",
        "name": "DOCUMENT UPDATE",
        "info": "",
        "x": 140,
        "y": 2200,
        "wires": []
    },
    {
        "id": "534c41e7b48adca6",
        "type": "com.autana.updateRow",
        "z": "07021e24ebc3f637",
        "appwriteConfig": "ce1cf8f39be0d7d4",
        "databaseName": "",
        "tableName": "",
        "name": "",
        "docId": "",
        "x": 650,
        "y": 2600,
        "wires": [
            [
                "79e5df297a0c5e62",
                "11eb9cd85889e529"
            ]
        ]
    },
    {
        "id": "b89fbcde5a224ca9",
        "type": "link out",
        "z": "07021e24ebc3f637",
        "name": "link out 20",
        "mode": "link",
        "links": [
            "1f0dc3e955551512"
        ],
        "x": 885,
        "y": 3120,
        "wires": []
    },
    {
        "id": "b4d237d53c859c49",
        "type": "debug",
        "z": "07021e24ebc3f637",
        "name": "BEFORE DELETE",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 2820,
        "wires": []
    },
    {
        "id": "ffc0a23645b6741f",
        "type": "debug",
        "z": "07021e24ebc3f637",
        "name": "AFTER DELETE",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 3240,
        "wires": []
    },
    {
        "id": "60db5da52cb981b2",
        "type": "comment",
        "z": "07021e24ebc3f637",
        "name": "DOCUMENT DELETE",
        "info": "",
        "x": 140,
        "y": 2800,
        "wires": []
    },
    {
        "id": "6cbad8fb91b2d2c5",
        "type": "com.autana.deleteRow",
        "z": "07021e24ebc3f637",
        "appwriteConfig": "ce1cf8f39be0d7d4",
        "databaseName": "",
        "tableName": "",
        "name": "",
        "docId": "",
        "x": 590,
        "y": 3120,
        "wires": [
            [
                "b89fbcde5a224ca9",
                "ffc0a23645b6741f"
            ]
        ]
    },
    {
        "id": "fb23eae4308d5996",
        "type": "link out",
        "z": "07021e24ebc3f637",
        "name": "link out 21",
        "mode": "link",
        "links": [
            "1832433a153aed2e"
        ],
        "x": 575,
        "y": 940,
        "wires": []
    },
    {
        "id": "1832433a153aed2e",
        "type": "link in",
        "z": "07021e24ebc3f637",
        "name": "link in 12",
        "links": [
            "fb23eae4308d5996"
        ],
        "x": 395,
        "y": 2880,
        "wires": [
            [
                "b4d237d53c859c49",
                "8ab78b5eb1f4585f"
            ]
        ]
    },
    {
        "id": "03c3fd362d1edc51",
        "type": "change",
        "z": "07021e24ebc3f637",
        "name": "404 NOT FOUND",
        "rules": [
            {
                "t": "set",
                "p": "statusCode",
                "pt": "msg",
                "to": "404",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1130,
        "y": 420,
        "wires": [
            [
                "498b63a998d798c2"
            ]
        ]
    },
    {
        "id": "e36669525c3d404c",
        "type": "link in",
        "z": "07021e24ebc3f637",
        "name": "link NOT_FOUND",
        "links": [
            "c59a1fbb53b16ddd",
            "d7f10b4f79173049",
            "fc4be68defbfe040"
        ],
        "x": 985,
        "y": 420,
        "wires": [
            [
                "03c3fd362d1edc51"
            ]
        ]
    },
    {
        "id": "d7f10b4f79173049",
        "type": "link out",
        "z": "07021e24ebc3f637",
        "name": "link out 22",
        "mode": "link",
        "links": [
            "e36669525c3d404c"
        ],
        "x": 495,
        "y": 540,
        "wires": []
    },
    {
        "id": "fc4be68defbfe040",
        "type": "link out",
        "z": "07021e24ebc3f637",
        "name": "link out 23",
        "mode": "link",
        "links": [
            "e36669525c3d404c"
        ],
        "x": 575,
        "y": 980,
        "wires": []
    },
    {
        "id": "c88099de92e3afe6",
        "type": "comment",
        "z": "07021e24ebc3f637",
        "name": "send response",
        "info": "",
        "x": 990,
        "y": 3120,
        "wires": []
    },
    {
        "id": "4448fa478d4f390d",
        "type": "comment",
        "z": "07021e24ebc3f637",
        "name": "send response",
        "info": "",
        "x": 1040,
        "y": 2600,
        "wires": []
    },
    {
        "id": "5eb733fb1fbd90a3",
        "type": "comment",
        "z": "07021e24ebc3f637",
        "name": "send response",
        "info": "",
        "x": 880,
        "y": 2040,
        "wires": []
    },
    {
        "id": "4f183855b8fb742d",
        "type": "comment",
        "z": "07021e24ebc3f637",
        "name": "send response",
        "info": "",
        "x": 960,
        "y": 1600,
        "wires": []
    },
    {
        "id": "5a65f9d8033395ec",
        "type": "comment",
        "z": "07021e24ebc3f637",
        "name": "from document operation",
        "info": "",
        "x": 250,
        "y": 1220,
        "wires": []
    },
    {
        "id": "0d45379061c34a52",
        "type": "comment",
        "z": "07021e24ebc3f637",
        "name": "from document operation",
        "info": "",
        "x": 240,
        "y": 1820,
        "wires": []
    },
    {
        "id": "528a16a56d51e27d",
        "type": "comment",
        "z": "07021e24ebc3f637",
        "name": "from document operation",
        "info": "",
        "x": 250,
        "y": 2280,
        "wires": []
    },
    {
        "id": "b088cf6c027633d2",
        "type": "comment",
        "z": "07021e24ebc3f637",
        "name": "from document operation",
        "info": "",
        "x": 250,
        "y": 2880,
        "wires": []
    },
    {
        "id": "86b786c5f160acbb",
        "type": "comment",
        "z": "07021e24ebc3f637",
        "name": "DOCUMENT READ",
        "info": "",
        "x": 690,
        "y": 820,
        "wires": []
    },
    {
        "id": "766c79fabc48f821",
        "type": "comment",
        "z": "07021e24ebc3f637",
        "name": "DOCUMENT INSERT",
        "info": "",
        "x": 700,
        "y": 860,
        "wires": []
    },
    {
        "id": "2d9842a6fa2bb06f",
        "type": "comment",
        "z": "07021e24ebc3f637",
        "name": "DOCUMENT UPDATE",
        "info": "",
        "x": 700,
        "y": 900,
        "wires": []
    },
    {
        "id": "e174eb2e5c50445f",
        "type": "comment",
        "z": "07021e24ebc3f637",
        "name": "DOCUMENT DELETE",
        "info": "",
        "x": 700,
        "y": 940,
        "wires": []
    },
    {
        "id": "648a87a933f244ac",
        "type": "comment",
        "z": "07021e24ebc3f637",
        "name": "otherwise 404",
        "info": "",
        "x": 670,
        "y": 980,
        "wires": []
    },
    {
        "id": "14fc4e2fbd2f3f74",
        "type": "comment",
        "z": "07021e24ebc3f637",
        "name": "otherwise 404",
        "info": "",
        "x": 590,
        "y": 540,
        "wires": []
    },
    {
        "id": "9bb695f0f63c7f55",
        "type": "comment",
        "z": "07021e24ebc3f637",
        "name": "DOCUMENT",
        "info": "",
        "x": 590,
        "y": 480,
        "wires": []
    },
    {
        "id": "6bf55752c012dbc4",
        "type": "debug",
        "z": "07021e24ebc3f637",
        "name": "AFTER TRANSFORM",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 1200,
        "wires": []
    },
    {
        "id": "b7c6c00fee05cdc7",
        "type": "subflow:69b3865e779a9ae0",
        "z": "07021e24ebc3f637",
        "name": "parse query",
        "x": 510,
        "y": 1280,
        "wires": [
            [
                "6bf55752c012dbc4",
                "9209db6a39aa55fa"
            ],
            [
                "9e6b2522859fda99",
                "6e28fda80698ab37"
            ]
        ]
    },
    {
        "id": "9e6b2522859fda99",
        "type": "debug",
        "z": "07021e24ebc3f637",
        "name": "NO TRANSFORM",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 1360,
        "wires": []
    },
    {
        "id": "f9d5b3c725c83feb",
        "type": "change",
        "z": "07021e24ebc3f637",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "query",
                "pt": "msg",
                "to": "inboundTransformResult",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 1440,
        "wires": [
            [
                "a3bf4d4d6c3d75f6",
                "05d9c60ce4087825"
            ]
        ]
    },
    {
        "id": "a3bf4d4d6c3d75f6",
        "type": "link out",
        "z": "07021e24ebc3f637",
        "name": "link out 24",
        "mode": "link",
        "links": [
            "80f301edd669555f"
        ],
        "x": 705,
        "y": 1440,
        "wires": []
    },
    {
        "id": "80f301edd669555f",
        "type": "link in",
        "z": "07021e24ebc3f637",
        "name": "link in 14",
        "links": [
            "a3bf4d4d6c3d75f6",
            "6e28fda80698ab37",
            "ac960ae4a6cef1ca"
        ],
        "x": 475,
        "y": 1580,
        "wires": [
            [
                "62c8b0931c5f2399"
            ]
        ]
    },
    {
        "id": "6e28fda80698ab37",
        "type": "link out",
        "z": "07021e24ebc3f637",
        "name": "link out 25",
        "mode": "link",
        "links": [
            "80f301edd669555f"
        ],
        "x": 755,
        "y": 1320,
        "wires": []
    },
    {
        "id": "9209db6a39aa55fa",
        "type": "link out",
        "z": "07021e24ebc3f637",
        "name": "link out 26",
        "mode": "link",
        "links": [
            "844ecf43977abaa3"
        ],
        "x": 755,
        "y": 1240,
        "wires": []
    },
    {
        "id": "844ecf43977abaa3",
        "type": "link in",
        "z": "07021e24ebc3f637",
        "name": "link in 15",
        "links": [
            "9209db6a39aa55fa",
            "a479c4569fe0b646"
        ],
        "x": 465,
        "y": 1440,
        "wires": [
            [
                "f9d5b3c725c83feb"
            ]
        ]
    },
    {
        "id": "05d9c60ce4087825",
        "type": "debug",
        "z": "07021e24ebc3f637",
        "name": "BEFORE READ",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 1440,
        "wires": []
    },
    {
        "id": "33ef33e376b31c60",
        "type": "catch",
        "z": "07021e24ebc3f637",
        "name": "on parse query err",
        "scope": [
            "b7c6c00fee05cdc7"
        ],
        "uncaught": false,
        "x": 550,
        "y": 1680,
        "wires": [
            [
                "b35e047d22937624"
            ]
        ]
    },
    {
        "id": "9039d29bdf160d9d",
        "type": "link out",
        "z": "07021e24ebc3f637",
        "name": "link out 27",
        "mode": "link",
        "links": [
            "6b66ab49ecbaa682"
        ],
        "x": 1265,
        "y": 480,
        "wires": []
    },
    {
        "id": "f3fd90198646bfd3",
        "type": "change",
        "z": "07021e24ebc3f637",
        "name": "500 SERVER ERROR",
        "rules": [
            {
                "t": "set",
                "p": "statusCode",
                "pt": "msg",
                "to": "500",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 480,
        "wires": [
            [
                "9039d29bdf160d9d"
            ]
        ]
    },
    {
        "id": "ddf91e6188e9b20d",
        "type": "link in",
        "z": "07021e24ebc3f637",
        "name": "link SERVER_ERROR",
        "links": [
            "1159a6bff26ed725",
            "b35e047d22937624",
            "5ae1f6d3c685f2c7"
        ],
        "x": 985,
        "y": 480,
        "wires": [
            [
                "f3fd90198646bfd3"
            ]
        ]
    },
    {
        "id": "b35e047d22937624",
        "type": "link out",
        "z": "07021e24ebc3f637",
        "name": "link out 28",
        "mode": "link",
        "links": [
            "ddf91e6188e9b20d"
        ],
        "x": 695,
        "y": 1680,
        "wires": []
    },
    {
        "id": "b8c179bd43f48e49",
        "type": "comment",
        "z": "07021e24ebc3f637",
        "name": "500 ERROR",
        "info": "",
        "x": 790,
        "y": 1680,
        "wires": []
    },
    {
        "id": "9db5b6c0b42b66a4",
        "type": "debug",
        "z": "07021e24ebc3f637",
        "name": "AFTER TRANSFORM",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 2280,
        "wires": []
    },
    {
        "id": "f8c35cdadbdf968d",
        "type": "subflow:69b3865e779a9ae0",
        "z": "07021e24ebc3f637",
        "name": "parse docId",
        "x": 650,
        "y": 2360,
        "wires": [
            [
                "9db5b6c0b42b66a4",
                "9c0eacf289437cbd"
            ],
            [
                "23c39a193bb7ea72",
                "6d7bdbdd63ddddb2"
            ]
        ]
    },
    {
        "id": "23c39a193bb7ea72",
        "type": "debug",
        "z": "07021e24ebc3f637",
        "name": "NO TRANSFORM",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 2460,
        "wires": []
    },
    {
        "id": "f8b688378c2d0e25",
        "type": "change",
        "z": "07021e24ebc3f637",
        "name": "set docID and body",
        "rules": [
            {
                "t": "set",
                "p": "docId",
                "pt": "msg",
                "to": "inboundTransformResult.docId",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "inboundTransformResult.body",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 2440,
        "wires": [
            [
                "534c41e7b48adca6",
                "4e55e047efd88197"
            ]
        ]
    },
    {
        "id": "9c0eacf289437cbd",
        "type": "link out",
        "z": "07021e24ebc3f637",
        "name": "link out 31",
        "mode": "link",
        "links": [
            "ac2beb1f3d92dffd"
        ],
        "x": 955,
        "y": 2340,
        "wires": []
    },
    {
        "id": "ac2beb1f3d92dffd",
        "type": "link in",
        "z": "07021e24ebc3f637",
        "name": "link in 18",
        "links": [
            "9c0eacf289437cbd",
            "546e15a25954a792"
        ],
        "x": 535,
        "y": 2440,
        "wires": [
            [
                "f8b688378c2d0e25"
            ]
        ]
    },
    {
        "id": "2f737075c2505f80",
        "type": "change",
        "z": "07021e24ebc3f637",
        "name": "400 BAD REQUEST",
        "rules": [
            {
                "t": "set",
                "p": "statusCode",
                "pt": "msg",
                "to": "400",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 360,
        "wires": [
            [
                "236d90cb66ce23de"
            ]
        ]
    },
    {
        "id": "236d90cb66ce23de",
        "type": "link out",
        "z": "07021e24ebc3f637",
        "name": "link out 32",
        "mode": "link",
        "links": [
            "6b66ab49ecbaa682"
        ],
        "x": 1265,
        "y": 360,
        "wires": []
    },
    {
        "id": "14f48e934e443e02",
        "type": "link in",
        "z": "07021e24ebc3f637",
        "name": "link BAD_REQUEST",
        "links": [
            "6d7bdbdd63ddddb2",
            "fc4041d23c5c30d7",
            "a8440011448ce8e3"
        ],
        "x": 985,
        "y": 360,
        "wires": [
            [
                "2f737075c2505f80"
            ]
        ]
    },
    {
        "id": "6d7bdbdd63ddddb2",
        "type": "link out",
        "z": "07021e24ebc3f637",
        "name": "link out 33",
        "mode": "link",
        "links": [
            "14f48e934e443e02"
        ],
        "x": 955,
        "y": 2400,
        "wires": []
    },
    {
        "id": "cc06a8ed4fe37de4",
        "type": "comment",
        "z": "07021e24ebc3f637",
        "name": "BAD REQUEST",
        "info": "",
        "x": 1060,
        "y": 2400,
        "wires": []
    },
    {
        "id": "caba592de39d8d12",
        "type": "comment",
        "z": "07021e24ebc3f637",
        "name": "update",
        "info": "",
        "x": 1030,
        "y": 2340,
        "wires": []
    },
    {
        "id": "71357a9a5d0ebf45",
        "type": "debug",
        "z": "07021e24ebc3f637",
        "name": "AFTER TRANSFORM",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 2860,
        "wires": []
    },
    {
        "id": "8ab78b5eb1f4585f",
        "type": "subflow:69b3865e779a9ae0",
        "z": "07021e24ebc3f637",
        "name": "parse docId",
        "x": 590,
        "y": 2940,
        "wires": [
            [
                "71357a9a5d0ebf45",
                "2abd4d6ce3a84f2e"
            ],
            [
                "337d088fa5171e3a",
                "fc4041d23c5c30d7"
            ]
        ]
    },
    {
        "id": "337d088fa5171e3a",
        "type": "debug",
        "z": "07021e24ebc3f637",
        "name": "NO TRANSFORM",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 3020,
        "wires": []
    },
    {
        "id": "fc4041d23c5c30d7",
        "type": "link out",
        "z": "07021e24ebc3f637",
        "name": "link out 35",
        "mode": "link",
        "links": [
            "14f48e934e443e02"
        ],
        "x": 895,
        "y": 2980,
        "wires": []
    },
    {
        "id": "d99fac340d5bea36",
        "type": "comment",
        "z": "07021e24ebc3f637",
        "name": "BAD REQUEST",
        "info": "",
        "x": 1000,
        "y": 2980,
        "wires": []
    },
    {
        "id": "d1e21e85d4d46c41",
        "type": "comment",
        "z": "07021e24ebc3f637",
        "name": "delete",
        "info": "",
        "x": 970,
        "y": 2920,
        "wires": []
    },
    {
        "id": "2abd4d6ce3a84f2e",
        "type": "link out",
        "z": "07021e24ebc3f637",
        "name": "link out 36",
        "mode": "link",
        "links": [
            "2df9db8960835bfa"
        ],
        "x": 895,
        "y": 2920,
        "wires": []
    },
    {
        "id": "2df9db8960835bfa",
        "type": "link in",
        "z": "07021e24ebc3f637",
        "name": "link in 20",
        "links": [
            "2abd4d6ce3a84f2e"
        ],
        "x": 465,
        "y": 3040,
        "wires": [
            [
                "ff436e3c81e2d2a2"
            ]
        ]
    },
    {
        "id": "f8ea83b111728779",
        "type": "link out",
        "z": "07021e24ebc3f637",
        "name": "link out 37",
        "mode": "link",
        "links": [
            "6b66ab49ecbaa682"
        ],
        "x": 1375,
        "y": 960,
        "wires": []
    },
    {
        "id": "1f0dc3e955551512",
        "type": "link in",
        "z": "07021e24ebc3f637",
        "name": "link validate_errors",
        "links": [
            "11eb9cd85889e529",
            "aba26514c1b5852c",
            "b89fbcde5a224ca9",
            "e0b79abcc31fec8c"
        ],
        "x": 985,
        "y": 620,
        "wires": [
            [
                "e1e8eec22a011727"
            ]
        ]
    },
    {
        "id": "b022d71edbafda40",
        "type": "comment",
        "z": "07021e24ebc3f637",
        "name": "validate errors",
        "info": "",
        "x": 1040,
        "y": 560,
        "wires": []
    },
    {
        "id": "e1e8eec22a011727",
        "type": "switch",
        "z": "07021e24ebc3f637",
        "name": "no has errors ?",
        "property": "error",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1110,
        "y": 620,
        "wires": [
            [
                "96a56f6bb0f7f307"
            ],
            [
                "37b1894682d9f01e"
            ]
        ]
    },
    {
        "id": "37b1894682d9f01e",
        "type": "switch",
        "z": "07021e24ebc3f637",
        "name": "error type",
        "property": "error",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "not be found",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1090,
        "y": 740,
        "wires": [
            [
                "c59a1fbb53b16ddd"
            ],
            [
                "1159a6bff26ed725"
            ]
        ]
    },
    {
        "id": "c59a1fbb53b16ddd",
        "type": "link out",
        "z": "07021e24ebc3f637",
        "name": "link out 38",
        "mode": "link",
        "links": [
            "e36669525c3d404c"
        ],
        "x": 1245,
        "y": 700,
        "wires": []
    },
    {
        "id": "1159a6bff26ed725",
        "type": "link out",
        "z": "07021e24ebc3f637",
        "name": "link out 39",
        "mode": "link",
        "links": [
            "ddf91e6188e9b20d"
        ],
        "x": 1245,
        "y": 760,
        "wires": []
    },
    {
        "id": "ff436e3c81e2d2a2",
        "type": "change",
        "z": "07021e24ebc3f637",
        "name": "set docID",
        "rules": [
            {
                "t": "set",
                "p": "docId",
                "pt": "msg",
                "to": "inboundTransformResult.docId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 3040,
        "wires": [
            [
                "6cbad8fb91b2d2c5"
            ]
        ]
    },
    {
        "id": "c5b69af1e6784837",
        "type": "subflow:69b3865e779a9ae0",
        "z": "07021e24ebc3f637",
        "name": "parse docId",
        "x": 550,
        "y": 1840,
        "wires": [
            [
                "97522cf348d1e2da",
                "8c9d989b947c842e"
            ],
            [
                "408b41c3a558b024",
                "a8440011448ce8e3"
            ]
        ]
    },
    {
        "id": "97522cf348d1e2da",
        "type": "debug",
        "z": "07021e24ebc3f637",
        "name": "AFTER TRANSFORM",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 1740,
        "wires": []
    },
    {
        "id": "408b41c3a558b024",
        "type": "debug",
        "z": "07021e24ebc3f637",
        "name": "NO TRANSFORM",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 1920,
        "wires": []
    },
    {
        "id": "a8440011448ce8e3",
        "type": "link out",
        "z": "07021e24ebc3f637",
        "name": "link out 40",
        "mode": "link",
        "links": [
            "14f48e934e443e02"
        ],
        "x": 815,
        "y": 1860,
        "wires": []
    },
    {
        "id": "603712a4737985d9",
        "type": "comment",
        "z": "07021e24ebc3f637",
        "name": "BAD REQUEST",
        "info": "",
        "x": 920,
        "y": 1860,
        "wires": []
    },
    {
        "id": "8c9d989b947c842e",
        "type": "link out",
        "z": "07021e24ebc3f637",
        "name": "link out 41",
        "mode": "link",
        "links": [
            "5cae4e738e67fd6d"
        ],
        "x": 815,
        "y": 1800,
        "wires": []
    },
    {
        "id": "71650c82408cb9c7",
        "type": "comment",
        "z": "07021e24ebc3f637",
        "name": "insert",
        "info": "",
        "x": 890,
        "y": 1800,
        "wires": []
    },
    {
        "id": "5cae4e738e67fd6d",
        "type": "link in",
        "z": "07021e24ebc3f637",
        "name": "link in 21",
        "links": [
            "8c9d989b947c842e"
        ],
        "x": 375,
        "y": 1960,
        "wires": [
            [
                "97f74e4fa6e0d1d3"
            ]
        ]
    },
    {
        "id": "97f74e4fa6e0d1d3",
        "type": "change",
        "z": "07021e24ebc3f637",
        "name": "set docID and body",
        "rules": [
            {
                "t": "set",
                "p": "docId",
                "pt": "msg",
                "to": "inboundTransformResult.docId",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "inboundTransformResult.body",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 1960,
        "wires": [
            [
                "395da7a2da557286"
            ]
        ]
    },
    {
        "id": "4e55e047efd88197",
        "type": "debug",
        "z": "07021e24ebc3f637",
        "name": "BEFORE APPLY UPDATE",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 2540,
        "wires": []
    },
    {
        "id": "56ed230450cc6721",
        "type": "link in",
        "z": "07021e24ebc3f637",
        "name": "link in 22",
        "links": [
            "96a56f6bb0f7f307"
        ],
        "x": 985,
        "y": 900,
        "wires": [
            [
                "380ec78a4a808304",
                "880869cc35662a2a"
            ]
        ]
    },
    {
        "id": "96a56f6bb0f7f307",
        "type": "link out",
        "z": "07021e24ebc3f637",
        "name": "link out 42",
        "mode": "link",
        "links": [
            "56ed230450cc6721"
        ],
        "x": 1245,
        "y": 600,
        "wires": []
    },
    {
        "id": "380ec78a4a808304",
        "type": "subflow:4aa39d5e7b7da9d4",
        "z": "07021e24ebc3f637",
        "name": "transform response body",
        "x": 1160,
        "y": 900,
        "wires": [
            [
                "7b33d50450a0d798",
                "045b0ad62f6c73d7"
            ],
            [
                "f8ea83b111728779",
                "40222ccdb2d98eba"
            ]
        ]
    },
    {
        "id": "7b33d50450a0d798",
        "type": "change",
        "z": "07021e24ebc3f637",
        "name": "set payload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "outboundTransformResult.body",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1430,
        "y": 860,
        "wires": [
            [
                "7fe491a18d8a9af3"
            ]
        ]
    },
    {
        "id": "7fe491a18d8a9af3",
        "type": "link out",
        "z": "07021e24ebc3f637",
        "name": "link out 43",
        "mode": "link",
        "links": [
            "6b66ab49ecbaa682"
        ],
        "x": 1535,
        "y": 860,
        "wires": []
    },
    {
        "id": "a755205f7268b251",
        "type": "comment",
        "z": "07021e24ebc3f637",
        "name": "outbound body transformation",
        "info": "",
        "x": 1110,
        "y": 840,
        "wires": []
    },
    {
        "id": "6bd2442ceef8925d",
        "type": "comment",
        "z": "07021e24ebc3f637",
        "name": "send response",
        "info": "",
        "x": 1490,
        "y": 960,
        "wires": []
    },
    {
        "id": "3ed6e5b7a83079af",
        "type": "comment",
        "z": "07021e24ebc3f637",
        "name": "send response",
        "info": "",
        "x": 1640,
        "y": 860,
        "wires": []
    },
    {
        "id": "5b803c2e8a928ba1",
        "type": "catch",
        "z": "07021e24ebc3f637",
        "name": "on parse query err",
        "scope": [
            "380ec78a4a808304"
        ],
        "uncaught": false,
        "x": 1700,
        "y": 960,
        "wires": [
            [
                "5ae1f6d3c685f2c7"
            ]
        ]
    },
    {
        "id": "5ae1f6d3c685f2c7",
        "type": "link out",
        "z": "07021e24ebc3f637",
        "name": "link out 44",
        "mode": "link",
        "links": [
            "ddf91e6188e9b20d"
        ],
        "x": 1845,
        "y": 960,
        "wires": []
    },
    {
        "id": "bf7bc10c1860d0f9",
        "type": "comment",
        "z": "07021e24ebc3f637",
        "name": "500 ERROR",
        "info": "",
        "x": 1940,
        "y": 960,
        "wires": []
    },
    {
        "id": "045b0ad62f6c73d7",
        "type": "debug",
        "z": "07021e24ebc3f637",
        "name": "AFTER RESPONSE TRANSFORM",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1460,
        "y": 800,
        "wires": []
    },
    {
        "id": "40222ccdb2d98eba",
        "type": "debug",
        "z": "07021e24ebc3f637",
        "name": "NO RESPONSE TRANSFORM",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1450,
        "y": 1040,
        "wires": []
    },
    {
        "id": "880869cc35662a2a",
        "type": "debug",
        "z": "07021e24ebc3f637",
        "name": "BEFORE RESPONSE TRANSFORM",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 980,
        "wires": []
    },
    {
        "id": "1f5e86cf01c16650",
        "type": "subflow:7e59738d989d54b6",
        "z": "c137f9ae9b5be96b",
        "x": 230,
        "y": 260,
        "wires": [
            [
                "33b0b6bc16372a91",
                "f224c9d750605261"
            ]
        ]
    },
    {
        "id": "fc35ee2aa580bf1f",
        "type": "inject",
        "z": "c137f9ae9b5be96b",
        "name": "start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 60,
        "wires": [
            [
                "5e65ef3eb994afb3"
            ]
        ]
    },
    {
        "id": "33b0b6bc16372a91",
        "type": "debug",
        "z": "c137f9ae9b5be96b",
        "name": "Create Table Rules",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 260,
        "wires": []
    },
    {
        "id": "5e65ef3eb994afb3",
        "type": "subflow:1314f78d13357201",
        "z": "c137f9ae9b5be96b",
        "x": 240,
        "y": 160,
        "wires": [
            [
                "42c79aa332b04941",
                "1f5e86cf01c16650"
            ]
        ]
    },
    {
        "id": "42c79aa332b04941",
        "type": "debug",
        "z": "c137f9ae9b5be96b",
        "name": "Create Table Projects",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 160,
        "wires": []
    },
    {
        "id": "49b9108d6c75c15b",
        "type": "subflow:082636f279771408",
        "z": "c137f9ae9b5be96b",
        "name": "",
        "x": 240,
        "y": 560,
        "wires": [
            [
                "1033d595fa79c970"
            ]
        ]
    },
    {
        "id": "1033d595fa79c970",
        "type": "debug",
        "z": "c137f9ae9b5be96b",
        "name": "Create Table Example",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 560,
        "wires": []
    },
    {
        "id": "f224c9d750605261",
        "type": "subflow:1e9e2287cf2edeca",
        "z": "c137f9ae9b5be96b",
        "name": "",
        "x": 250,
        "y": 360,
        "wires": [
            [
                "21384e6b0e98a3ba",
                "a75a00b6b6e053e7"
            ]
        ]
    },
    {
        "id": "21384e6b0e98a3ba",
        "type": "debug",
        "z": "c137f9ae9b5be96b",
        "name": "Create Pets API Project",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 360,
        "wires": []
    },
    {
        "id": "a75a00b6b6e053e7",
        "type": "subflow:c456eb608cd0ccef",
        "z": "c137f9ae9b5be96b",
        "x": 230,
        "y": 460,
        "wires": [
            [
                "9dd108b86f475d05",
                "49b9108d6c75c15b"
            ]
        ]
    },
    {
        "id": "9dd108b86f475d05",
        "type": "debug",
        "z": "c137f9ae9b5be96b",
        "name": "Create Pets API Rules",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 460,
        "wires": []
    },
    {
        "id": "9aa6bbc672414eb2",
        "type": "subflow:c456eb608cd0ccef",
        "z": "c137f9ae9b5be96b",
        "x": 390,
        "y": 680,
        "wires": [
            [
                "4584503e4b8aa659"
            ]
        ]
    },
    {
        "id": "4584503e4b8aa659",
        "type": "debug",
        "z": "c137f9ae9b5be96b",
        "name": "Create Pets API Rules",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 680,
        "wires": []
    },
    {
        "id": "96868932cdf8f426",
        "type": "inject",
        "z": "c137f9ae9b5be96b",
        "name": "only rules",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 680,
        "wires": [
            [
                "9aa6bbc672414eb2"
            ]
        ]
    },
    {
        "id": "3d2ea5b9d655397a",
        "type": "inject",
        "z": "58697012b7039513",
        "name": "start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "112fc57db460c397"
            ]
        ]
    },
    {
        "id": "112fc57db460c397",
        "type": "com.autana.readTable",
        "z": "58697012b7039513",
        "appwriteConfig": "8b9887394539e844",
        "databaseName": "main",
        "tableName": "rules",
        "name": "find rall rules",
        "query": "",
        "x": 270,
        "y": 140,
        "wires": [
            [
                "70a1841bbfec3c2d"
            ]
        ]
    },
    {
        "id": "70a1841bbfec3c2d",
        "type": "change",
        "z": "58697012b7039513",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.documents",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 220,
        "wires": [
            [
                "94c7848d28a66a5d"
            ]
        ]
    },
    {
        "id": "94c7848d28a66a5d",
        "type": "split",
        "z": "58697012b7039513",
        "name": "foreach rule",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 270,
        "y": 300,
        "wires": [
            [
                "0842aad5d20ba602"
            ]
        ]
    },
    {
        "id": "ba54d0f04f964593",
        "type": "com.autana.deleteRow",
        "z": "58697012b7039513",
        "appwriteConfig": "8b9887394539e844",
        "databaseName": "main",
        "tableName": "rules",
        "name": "",
        "docId": "",
        "x": 350,
        "y": 460,
        "wires": [
            [
                "4dd5273722855c86"
            ]
        ]
    },
    {
        "id": "0842aad5d20ba602",
        "type": "change",
        "z": "58697012b7039513",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "docId",
                "pt": "msg",
                "to": "payload.$id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 380,
        "wires": [
            [
                "ba54d0f04f964593"
            ]
        ]
    },
    {
        "id": "4dd5273722855c86",
        "type": "join",
        "z": "58697012b7039513",
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": "false",
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "x": 270,
        "y": 540,
        "wires": [
            [
                "f4687b26f6e175c8"
            ]
        ]
    },
    {
        "id": "f4687b26f6e175c8",
        "type": "debug",
        "z": "58697012b7039513",
        "name": "Clear Rules",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 540,
        "wires": []
    }
]